<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MiniSAM.My.MySettings.METASINF_2020ConnectionString"
            connectionString="Data Source=SERVER3\COMPAC2;Initial Catalog=METASINF-2020;Persist Security Info=True;User ID=sa;Password=Met99011578a"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>